@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
*
	outline: none
	padding: 0
	margin: 0
	border: 0
input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 10px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	color: $text
ul
	padding: 0
	margin: 0
	list-style: none
a, a:active, a:hover
	text-decoration: none
	color: $text
// Custom Sass / Remove before use
.hidden
	display: none
.invisible
	position: fixed
	top: 100%
	opacity: 0
.accent-color
	color: $accent
.flex
	display: flex
.flex--row
	flex-direction: row
.flex--column
	flex-direction: column

.img-responsive
	width: 100%
	height: auto

.header
	padding: 1.87vw 2.7vw
	align-items: center
	justify-content: space-between
.logo
	width: 12.4vw
.yakama-logo
	opacity: .45
.down-letter
	display: inline-block
	transform: rotate(180deg)
.menu
	li
		margin-right: 2.7vw
		&:last-child
			margin-right: 0
		a
			font-family: 'MontserratMedium'
			font-size: 1.1vw
			line-height: 1.38vw
			&:hover
				color: $accent
.btn
	padding: .97vw 1.67vw
	border-radius: .48vw
	background-color: rgba(138, 194, 73, 0.07)
	color: $accent
	font-family: 'MontserratBold'
	font-size: .97vw
	line-height: 1.25vw
	&:hover
		background-color: $accent
		color: #fff
	&:active
		background-color: $click
.inline-block
	display: inline-block
.accent-shadow
	display: inline-block
	//box-shadow: 0 0 0 1vw rgba($accent,.07)
	background-color: rgba($accent,.07)
	border-radius: .5vw
	padding: 0 .5vw
	position: relative
	right: .5vw
.btn--inverse
	background-color: $accent
	color: #fff
	&:hover
		box-shadow: 0px 0px .88vw 0px rgba($accent, 0.75)
.btns-wrap
	.btn
		margin-right: 1vw
		&:last-child
			margin-right: 0
.header-slider
	padding: 4.1vw 0 8.2vw
	margin: 0 4.1vw
	position: relative
	align-items: center
	justify-content: space-around
	background-image: url('../img/@1x/bg.png')
	background-size: 107% auto
	background-position: 80% 100%
	background-repeat: no-repeat
	max-height: 85vh
.header-slider__left
	max-width: 16.4vw
.header-slider__right
	width: 52.3vw
#header-slider, #models-slider, #models-slider-citikoko
	width: 100%
.header-slider__title
	font-family: 'Roboto'
	font-style: normal
	font-weight: bold
	font-size: .83vw
	line-height: .83vw
	text-transform: uppercase
	letter-spacing: 0.07em
	margin-bottom: .66vw
.header-slider__subtitle
	font-family: 'MontserratSemiBold'
	font-size: 2.5vw
	line-height: 3.3vw
	margin-bottom: 4.4vw
	width: max-content
#citikoko
	font-family: 'MontserratSemibold'
.header-slider__link
	font-family: 'MontserratBold'
	font-size: .97vw
	line-height: 1.25vw
	cursor: pointer
	display: flex
	align-items: center
	.img-arrow
		width: 1.18vw
		height: auto
		margin-left: 1vw
	.img-arrow--green
		width: 1.875vw
		display: none
	.arrow
		display: inline-block
		font-size: 2vw
		line-height: 2vw
		font-family: Roboto, sans-serif
		margin-left: .97vw
		transform: translateY(10%)
		transition: all .3s
		transform-origin: 0 0
	&:hover
		.arrow
			color: $accent
			transform: translateY(10%) scaleX(1.67)
		.img-arrow
			display: none
		.img-arrow--green
			display: block
	&:active
		color: $accent
		.img-arrow
			display: none
		.img-arrow--green
			display: block
.social-links
	position: absolute
	top: 44%
	left: 0
	transform: rotate(-90deg) translateY(-4.5vw)
	text-transform: uppercase
	a
		font-size: .69vw
		line-height: 1.67vw
		margin-right: 2vw
		letter-spacing: 0.07em
		font-family: 'MontserratExtraBold'
		opacity: .15
		&:hover,&:active
			opacity: .65
		&:last-child
			margin-right: 0
.scroll-btn
	position: absolute
	bottom: 3vw
	left: 0
	align-items: center
	img
		width: .9vw
		height: auto
		margin-bottom: .27vw
	span
		font-family: 'MontserratExtraBold'
		font-size: .55vw
		line-height: .69vw
		letter-spacing: 0.07em
		text-transform: uppercase
		opacity: .15
.header-slider__right
	.slick-dots
		transform: translateY(4.1vw)
		li button:before
			font-size: calc(3px + 0.15vw)
		li.slick-active
			width: 2vw
			margin: 0 2vw
			& button
				width: 2vw
				&:before
					content: ''
					position: absolute
					top: 50%
					transform: translateY(-50%)
					color: $accent
					background-color: $accent
					border-radius: .5vw
					width: 2vw
					height: .46vw
					opacity: 1
.about
	padding: 20.8vw 12.9vw 18.75vw
	align-items: flex-end
	background-image: url('../img/@1x/about-bg.svg')
	background-repeat: no-repeat
	background-size: 100% auto
	min-height: 54.7vw
.about__content-wrap
	width: 30.7vw
	color: #fff
.about__title
	font-family: 'MontserratBold'
	font-size: 2.5vw
	line-height: 3.3vw
	margin-bottom: 2.1vw
.about__content
	font-family: 'MontserratMedium'
	font-size: 1.1vw
	line-height: 1.9vw
.models
	padding: 8.4vw 0 0
	margin: 0 0 0 13.4vw
.models__right
	width: 46.1vw
	position: relative
.model-slider
	width: 46.1vw !important
.models__left
	width: 27vw
	margin-right: 11.25vw
.tabs-wrap
	cursor: pointer
	font-size: .97vw
	line-height: 1.25vw
	font-family: 'MontserratBold'
.scooter
	border-top-right-radius: 0 !important
	border-bottom-right-radius: 0 !important
.el-scooter
	border-top-left-radius: 0 !important
	border-bottom-left-radius: 0 !important
.tabs-wrap
	margin-bottom: 4.2vw
.models__title
	font-family: 'MontserratBold'
	font-size: 2.5vw
	line-height: 3.3vw
	margin-bottom: 2.1vw
.models__content
	font-family: 'MontserratLight'
	font-size: 1.1vw
	line-height: 1.9vw
	margin-bottom: 5.5vw
.models__slider-nav
	justify-content: space-between
.models__numbers
	font-family: 'MontserratSemiBold'
	font-size: 1.1vw
	line-height: 1.9vw
	align-items: center
	opacity: .45
	span
		display: block
.left, .right
	width: 1.87vw
	cursor: pointer
.left
	margin-right: 2.1vw
.right--green
	display: none
.left--green
	transform: rotate(180deg)
	display: none
.left-wrap:hover
	.left
		display: none
	.left--green
		display: block
.popup-btn
	width: fit-content
	cursor: pointer
.right-wrap:hover
	.right
		display: none
	.right--green
		display: block
.tab
	width: 5vw
	margin: 0 1vw
	display: inline-block
	height: 1px
	background-color: #000
	opacity: .45
.img-wrap
	cursor: pointer
.popup-wrap
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	width: 100%
	background-color: #fff
	z-index: 1
.bag
	padding: 19.7vw 9.9vw 14.4vw 12.5vw
	justify-content: space-between
	background-image: url('../img/@1x/bag-bg.png')
	background-size: 100% 100%
	background-repeat: no-repeat
.bag__left
	width: 31vw
.bag__right
	width: 33.4vw
.counter__title
	font-family: 'RobotoBold'
	text-transform: uppercase
	margin-bottom: .69vw
	opacity: .45
	letter-spacing: 0.07em
.counter
	margin-bottom: 2.78vw
.numb
	margin-right: .69vw
	align-items: center
	&:last-child
		margin-right: 0
.green-circle
	border-radius: .48vw
	width: fit-content
	font-family: 'MontserratBold'
	font-size: 1.67vw
	line-height: 2vw
	padding: .2vw .48vw
	color: $accent
	background-color: rgba(138, 194, 73, 0.15)
	margin-bottom: .277vw
.numb__name
	font-family: 'MontserratBold'
	font-size: .55vw
	line-height: .69vw
.loan
	padding: 2.4vw 9.9vw 0 12.5vw
	justify-content: space-between
.loan__right
	width: 32.5vw
.loan__content
	margin-bottom: 2vw
.loan__list
	margin-bottom: 2.78vw
	color: $text
	li
		position: relative
		margin-bottom: 1vw
		&:last-child
			margin-bottom: 0
		&::before
			content: ''
			position: absolute
			top: 50%
			right: calc(100% + 1.38vw)
			transform: translateY(-50%)
			width: .34vw
			height: .34vw
			border-radius: 50%
			background-color: $text
			opacity: .25
			transition: all .3s
		a
			display: block
			font-family: 'MontserratSemiBold'
			font-size: 1vw
			line-height: 1.25vw
			opacity: .65
			transition: all .3s
		&:hover
			&::before
				width: 2vw
				height: .48vw
				background-color: $accent
				opacity: 1
				border-radius: .24vw
			a
				opacity: 1
.map__content
	margin-bottom: 2.78vw
.info
	margin-right: 2.36vw
.info--margin
	margin-bottom: 2vw
.info__title
	font-family: 'MontserratBold'
	font-size: .69vw
	line-height: .83vw
	text-transform: uppercase
	margin-bottom: .97vw
	opacity: .3
.info__content
	font-family: 'MontserratMedium'
	font-size: .97vw
	line-height: 1.67vw
.info-wrap
	margin-bottom: 4.1vw
.map
	padding: 21.4vw 17.4vw 9.8vw 14.8vw
	background-image: url('../img/@1x/map-bg.png')
	background-size: 100% 100%
	background-repeat: no-repeat
	justify-content: space-between
.map__right
	width: 25.9vw
.map__left
	width: 27.7vw
	height: 27.7vw
	border-radius: 50%
	overflow: hidden
	&>iframe
		width: 100%
		height: 100%
.rights
	font-family: 'MontserratMedium'
	font-size: 1.1vw
	line-height: 1.38vw
//Styles popup
.popup-wrap
	display: none	
	box-shadow: 0px 1vw 3.4vw rgba(1, 1, 37, 0.15)
	max-height: 100vh
.popup
	max-height: 100vh
	position: relative
	padding: 5.6vw 8.3vw 4.2vw
	justify-content: space-between
	align-items: center
.popup-close
	position: absolute
	top: 2.78vw
	right: 2.78vw
	width: 1.39vw
	height: 1.39vw
	cursor: pointer
.popup__left
	width: 29.1vw
	align-items: center
	position: relative
.popup__right
	width: 48.6vw
.popup-slider
	width: 29.1vw
	margin-bottom: 1vw
.popup-slider-nav
	width: 24.3vw
	.img-wrap
		margin: 0 .34vw
.popup-left, .popup-right
	position: absolute
	bottom: 1.39vw
	cursor: pointer
.popup-left
	left: 0
.popup-right
	right: 0
.popup__title
	font-family: 'MontserratSemiBold'
	font-size: 2.5vw
	line-height: 3.3vw
	margin-bottom: 4.2vw
	span
		font-family: 'MontserratBold'
.popup__info-wrap
	justify-content: space-between
	margin-bottom: 4.1vw
.key-wrap
	margin-bottom: 1.39vw
.key
	width: 10vw
	margin-right: 2.7vw
	font-family: 'MontserratRegular'
	font-size: .97vw
	line-height: 1.1vw
	opacity: .5
.value
	font-family: 'MontserratMedium'
	font-size: .97vw
	line-height: 1.1vw
.color-price-wrap
	margin-bottom: 4.1vw
	justify-content: flex-end
	align-items: center
.colors-wrap
	input
		display: none
		&:checked +label
			box-shadow: 0px 0px 0px 1px rgba($accent, 1)
	label
		display: block
		width: calc(2px + 2vw)
		height: calc(2px + 2vw)
		border: 2px solid #fff
		border-radius: 50%
		margin-bottom: 0
		margin-right: 1.39vw
		cursor: pointer
		&:hover			
			box-shadow: 0px 0px 0px 1px rgba($accent, .5)
		&:last-child
			margin-right: 0
.price
	font-family: 'MontserratBold'
	font-size: 3.33vw
	line-height: 3.33vw
	position: relative
	&::before
		content: 'Br'
		position: absolute
		//width: 2vw
		//height: 2.4vw
		right: calc(100% + .69vw)
		bottom: 0
		font-size: 2vw
		line-height: 2.4vw
		color: $accent
		//transform: translateY(-50%)
		//background-image: url('../img/@2x/Union.png')
		//background-size: 100% 100%
		//background-repeat: no-repeat
//contact form css
.contact-wrap
	display: none
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	background-color: #fff
	box-shadow: 0px 1vw 3.4vw rgba(1, 1, 37, 0.15)
	padding: 4.1vw 6.9vw 4.1vw 2.78vw
	z-index: 2
.contact__title
	font-family: 'MontserratSemiBold'
	font-size: 1.25vw
	line-height: 2vw
	margin-bottom: 2.78vw
.inputs-wrap
	margin-bottom: 2.78vw
	label
		font-family: 'MontserratBold'
		font-size: .69vw
		line-height: .83vw
		opacity: .15
		margin-bottom: .97vw
		text-transform: uppercase
	input
		border: none
		margin-bottom: 2vw
		opacity: .65
		font-family: 'MontserratRegular'
		max-width: 19.3vw
		&:last-of-type
			margin-bottom: 0
.contact__submit
	width: fit-content
	margin-bottom: 2.78vw
.contact-info
	font-family: 'RobotoRegular'
	font-size: .83vw
	line-height: 1.39vw
	opacity: .65
.contact__close
	position: absolute
	top: 2.36vw
	right: 2.36vw
	width: 1.08vw
	height: 1.08vw
	cursor: pointer
.loan__popup-wrap
	display: none
.loan__popup
	max-width: 100vw
	max-height: 100vh
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	background-color: #fff
	box-shadow: 0px 1vw 3.4vw rgba(1, 1, 37, 0.15)
	padding: 8.3vw 15.2vw 15.2vw
	z-index: 1
	align-items: center
.loan__img
	width: 24.3vw
	height: 15.5vw
	margin-right: 6.1vw
	box-shadow: 0px 1vw 3.4vw rgba(1, 1, 37, 0.15)
.loan__descr
	width: 35vw
.card__title
	margin-bottom: 4.1vw
.card__descr
	margin-bottom: 2vw
.card__features
	margin-bottom: 2vw
	font-family: 'MontserratSemiBold'
	opacity: .65
	font-size: 1.1vw
	line-height: 1.9vw
.card__more
	font-family: 'MontserratLight'
	font-size: 1.1vw
	opacity: .9
.text--bold
	font-family: 'MontserratBold'
//Scroll btn
#scroll-btn
  position: absolute
  bottom: 0
  left: 50%
  transform: translate(-50%, -30%)
  width: 2vw
  height: 3.4vw
  border: 1px solid white
  background-color: $accent
  border-radius: 3.4vw
  opacity: 1
  &:before
    content: ''
    position: absolute
    top: .55vw
    left: 50%
    transform: translate(-50%, 0)
    width: 2px
    height: .69vw
    background-color: white
    animation: scrollDown 2s infinite

@keyframes scrollDown
  0%
    opacity: 0
    transform: translate(-50%, 0)

  30%
    opacity: 1

  100%
    opacity: 0
    transform: translate(-50%, 22px)
//Css for model list popup
.popup-list-wrap
	display: none
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	background-color: #fff
	box-shadow: 0 1vw 3.4vw rgba(1,1,37,.15)
	width: 100%
	max-height: 100vh
	overflow: hidden
.popup-list__top
	justify-content: space-between
	align-items: center
	margin-bottom: 5.4vw
	.header-slider__subtitle, .tabs-wrap
		margin-bottom: 0
.popup-list
	padding: 5.7vw 8.3vw
	max-height: 100vh
.list-model	
	padding: 2.77vw
	align-items: flex-start
	border-radius: .7vw
	width: 20.3vw
	cursor: pointer
	position: relative
	&:hover
		box-shadow: 0px .5vw 1.6vw rgba(0, 0, 0, 0.1)
		.sale-wrap
			display: inherit
.list-model__img
	margin-bottom: 2.77vw
.list-model__name
	font-family: 'MontserratMedium'
	font-size: .83vw
	line-height: 1vw
	color: #9C9C9C
	margin-bottom: .34vw
.list-model__title
	font-family: 'MontserratMedium'
	font-size: 1.25vw
	line-height: 1.52vw
	color: #29324A
	margin-bottom: 1.52vw
.list-model__bottom
	width: 100%
	justify-content: space-between
.popup-list__list
	flex-wrap: wrap
	width: calc( 100% + 5vw )
	overflow-y: scroll
	max-height: 35vw
	position: relative
	right: 2.5vw
	padding-left: 2.5vw
	padding-top: 1vw
.price-top
	font-family: 'MontserratBold'
	font-size: 1.25vw
	line-height: 1.52vw
.price-bottom
	font-family: 'MontserratBold'
	font-size: 1vw
	line-height: 1.18vw
	position: relative
	&:after
		content: ''
		position: absolute
		top: 60%
		width: 90%
		height: 1px
		background-color: #8D8C8C
		left: 0
.sale-wrap
	display: none
	position: absolute
	top: .9vw
	left: 1vw
	font-family: 'MontserratMedium'
	font-size: .83vw
	line-height: .83vw
	background-color: $accent
	color: #ffffff
	width: 2.5vw
	height: 2.5vw
	border-radius: 50%
.sale
	width: 100%
	height: 100%
	display: flex
	align-items: center
	justify-content: center
.popup-list__arrow
	margin-bottom: 2.78vw
//Adaptive css
//Hmburger menu
.cmn-toggle-switch
  display: none
  position: relative
  overflow: hidden
  margin: 0
  padding: 0
  width: 5.5vw
  height: 5.5vw
  font-size: 0
  appearance: none
  box-shadow: none
  border-radius: none
  border: none
  cursor: pointer
  transition: background 0.3s
  z-index: 5

.cmn-toggle-switch:focus 
  outline: none 

.cmn-toggle-switch span 
  display: block
  position: absolute
  left: 0
  right: 0
  height: .8vw
  background: $accent
.cmn-toggle-switch--ad.cmn-toggle-switch span
  background: $accent

.cmn-toggle-switch span:before,
.cmn-toggle-switch span:after 
  position: absolute
  display: block
  left: 0
  width: 100%
  height: .8vw
  background-color: $accent
  content: "" 
.cmn-toggle-switch--ad.cmn-toggle-switch span:before,
.cmn-toggle-switch--ad.cmn-toggle-switch span:after
  background: $accent
.cmn-toggle-switch span:before 
  top: -1.6vw

.cmn-toggle-switch span:after 
  bottom: -1.6vw

/**
 * Style 2
 *
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */
.cmn-toggle-switch__htx 
  background-color: transparent 

.cmn-toggle-switch__htx span 
  transition: background 0 0.3s 

.cmn-toggle-switch__htx span:before,
.cmn-toggle-switch__htx span:after
	transition-duration: 0.3s, 0.3s
	transition-delay: 0.3s, 0 

.cmn-toggle-switch__htx span:before 
  transition-property: top, transform

.cmn-toggle-switch__htx span:after 
  transition-property: bottom, transform

/* active state, i.e. menu open */
.cmn-toggle-switch__htx.active
  background-color: transparent

.cmn-toggle-switch__htx.active span
  background: none

.cmn-toggle-switch__htx.active span:before
  top: 0
  transform: rotate(33deg)
  background-color: $accent

.cmn-toggle-switch__htx.active span:after
  bottom: 0
  transform: rotate(-33deg)
  background-color: $accent

.cmn-toggle-switch__htx.active span:before,
.cmn-toggle-switch__htx.active span:after
	transition-delay: 0, 0.3s
@media screen and ( max-width: 768px )
	.cmn-toggle-switch
		display: none
	.menu-wrap
		display: none
		width: 100%
		position: fixed
		top: 0
		left: 0
		background-color: #fff
		height: 100vh
		z-index: 1
	.menu
		display: flex
		flex-direction: column
		align-items: center
		padding: 4vw 0
		height: 100%
		justify-content: center
		li
			margin: 0 0 2vw
			a
				font-size: 2.5vw
				line-height: 3vw
	.logo
		width: 25vw
	.btn
		padding: 2vw 3.2vw
		border-radius: 1vw
		font-size: 2vw
		line-height: 2.5vw
	.header-slider__right
		display: none
	.header-slider
		padding: 18vw 0
		background-image: none 
	.header-slider__left
		max-width: inherit
		display: flex
		flex-direction: column
		align-items: center
	.header-slider__title
		font-size: 4vw
		line-height: 4vw
		margin-bottom: 6vw
	.header-slider__subtitle
		font-size: 7vw
		line-height: 9vw
		margin-bottom: 11vw
	.header-slider__link
		font-size: 3vw
		line-height: 4vw
		.img-arrow
			width: 4vw
		.img-arrow--green
			width: 4.5vw
	.social-links
		transform: rotate(-90deg) translateY(-14vw)
		a
			font-size: 2vw
			line-height: 3.5vw
			margin-right: 4vw
	.scroll-btn
		bottom: 0
		left: 50%
		transform: translate(-50%,0)
		img
			width: 3vw
		span
			font-size: 2vw
			line-height: 2.5vw
	.about__content-wrap
		width: inherit
	.about__title
		font-size: 5vw
		line-height: 6.6vw
		margin-bottom: 4vw
	.about__content
		font-size: 2.2vw
		line-height: 3vw
	.models
		flex-direction: column
		margin: 0 10vw
	.models__left
		width: inherit
		margin-right: 0
		align-items: center
	.models__right
		width: 100%
	.model-slider
		width: 100% !important
	.models__numbers
		display: none
	.models__slider-nav
		position: relative
	.left-wrap
		position: absolute
		top: 1vw
		left: -37vw
		z-index: 1
	.right-wrap
		position: absolute
		top: 1vw
		right: -37vw
		z-index: 1
	.left, .right
		width: 3vw
	.models__title
		font-size: 5vw
		line-height: 6.6vw
	.models__content
		font-size: 2.2vw
		line-height: 3vw
		margin-bottom: 4vw
	.loan__list
		margin-bottom: 5vw
		li
			margin-bottom: 2vw
	.loan__list li::before
		width: 1vw
		height: 1vw
	.tabs-wrap
		align-self: center
	.popup-list__arrow
		display: none
	.bag,.about,.map
		padding: 20vw 10vw
	.loan
		flex-direction: column
		align-items: center
		padding: 13vw 10vw
	.bag__left
		display: none
	.bag__right
		width: inherit
		margin-bottom: 5vw
		display: flex
		flex-direction: column
		align-items: center
	.loan__content
		text-align: center
	.loan__right
		width: inherit
		display: none
	.loan__list li a
		font-size: 2vw
		line-height: 2.5vw
	.map
		flex-direction: column
		align-items: center
	.info--margin
		margin-bottom: 4vw
	.info__title
		font-size: 2vw
		line-height: 3vw
	.info__content
		font-size: 2vw
		line-height: 3vw
	.map
		padding: 30vw 10vw 5vw
	.rights
		font-size: 2vw
		line-height: 3vw
	.contact-wrap
		padding: 8vw 10vw
		width: 70vw
	.contact__close
		width: 2.5vw
		height: 2.5vw
		top: 5vw
		right: 5vw
	.contact__title
		font-size: 2.5vw
		line-height: 4vw
		margin-bottom: 5vw
	.inputs-wrap
		margin-bottom: 5vw
		label
			font-size: 1.5vw
			line-height: 2vw
			margin-bottom: 2vw
		input
			margin-bottom: 5vw
	.contact-info
		font-size: 2vw
		line-height: 3vw
	.popup
		flex-direction: column
	.popup__left
		display: none
		width: 70%
		margin-bottom: 4vw
	.popup__right
		width: 100%
	.popup-slider
		width: 100%
	.popup-slider-nav,.popup-left, .popup-right
		display: none
	.popup__title
		text-align: center
	.key
		width: 18vw
	.key,.value
		font-size: 2vw
		line-height: 3vw
	.popup-close
		width: 2.5vw
		height: 2.5vw
		top: 5vw
		right: 5vw